.info {
  display: inline-block;
  padding: 10px;
}

.photo {
  position: absolute;
  top: 15px;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.information {
  margin-left: 20%;
  position: relative;
}
