.main-page {
  margin-top: 30px;
}
h2 {
  margin: 15px;
  padding: 15px;
  color: white;
  background-color: #00dd00;
}

img {
  width: 250px;
  height: 225px;
  margin: 15px;
  transition: 1s;
}

img:hover {
  transform: scale(1.2);
}

.artist_img_container {
  margin-top: 30px;
}

.song_img_container {
  margin-top: 30px;
}
